*.gpg
*.swp
*.log
Data/DICOM?
Data/SQLResults/*
Data/Documents?
Data/ECDCM?
Data/EHLPDCM?
Data/EHLPDOC?
Data/__DATETIMESTAMP__
!Data/SQLResults/README.md
!Data/README.md
Patients/*
!Patients/README.md
Archives/*
!Archives/README.md
tmp/*
!tmp/README.md
test/dcmtk/*.tmp
test/dcmtk/*.list
test/dcmtk/*.dcm
test/dcmtk/60*
test/dcmtk/00*
bin/*.localhost
